{% extends 'base.html' %}
{% block content %}
<h2>Добро пожаловать, {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}Гость{% endif %}</h2>
<p>Это ваша домашняя страница.</p>

{% if tags %}
<h3>Ваши интересы:</h3>
<ul>
    {% for tag in tags %}
    <li>{{ tag }}</li>
    {% endfor %}
</ul>
{% else %}
<p>У вас нет выбранных интересов.</p>
{% endif %}

{% if news is not none and not news.empty %}
<h3>Последние новости:</h3>
<ul>
    {% for index, article in news.iterrows() %}
    <li>
        <a href="{{ url_for('track_click', url=article['url']) }}">{{ article['title'] }}</a>
        <form action="{{ url_for('like_news', url=article['url']) }}" method="POST">
            Теги: {{ article[tags] }}
            <ul align="right"><button type="submit">👍</button> {{ article['likes'] }}</ul>
            <p></p>
        </form>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>Нет доступных новостей.</p>
{% endif %}
{% endblock %}